<div>

    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form class="example-form">
                <p>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" #userName placeholder="Ex. pat@example.com" required>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput #userPassword type="password" required>
                    </mat-form-field>
                </p>
                <div class="example-button-container">
                    <button class="my-class" mat-raised-button color="warn"
                        aria-label="Example icon button with a bookmark icon">
                        sign up with Google
                    </button>
                </div>
                <button (click)="authService.SignUp(userName.value, userPassword.value)" mat-raised-button
                    class="my-class" type="submit">
                    Login
                </button>
            </form>
        </mat-card-content>
    </mat-card>
    <p>
        <span><a mat-button routerLink="/sign-in" target="_blank">Already have an account ?</a></span>
    </p>
</div>